/* 헤더 컨테이너 (기본 크기일땐 안보이게 display none을 처리합니다.)*/
.header-container {
  display: none;
  position: fixed;
}

/* 모바일 환경에서 보이게 */
@media (max-width: 767px) {
  /* 헤더 컨테이너 */
  .header-container {
    display: inline;
    position: relative;
    width: 100%;
    padding: 10px 10px 0px 10px;
  }

  /* 헤더 */
  .header {
    max-width: 707px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  /* 검색창 */
  .header-search {
    display: flex;
    align-items: center;
    width: 230px;
    background-color: #efefef;
    cursor: pointer;
    padding: 12px 15px;
    border-radius: 25px;
    color: #808080;
    gap: 10px;
    font-size: 16px;
  }

  /* 검색창과 하트의 wrapper */
  .header-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
