/* 전체 컨테이너 */
.story-container {
  width: 970px;
  height: 124px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  padding: 8px 0px;
}

/* 스토리 아이템 */
.story-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  gap: 5px;
  font-size: 12px;
}

/* 스토리 이미지 */
.story-img {
  width: 83px;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  padding: 2px;
  border-radius: 999px;
  object-fit: cover;
}

/* 모바일 환경 */
@media (max-width: 767px) {
  .story-container {
    width: 100%;
    max-width: 650px;
    height: 124px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
