
@media (max-width: 920px) {
    :root {
        --rooms-w: 320px;
    }
}

@media (max-width: 900px) {
    body {
        grid-template-columns: 72px 88px 1fr;
    }

    .roomsLayout {
        padding: 8px 6px;
        align-items: center;
    }

    .rooms__header-row {
        justify-content: center;
    }

    .rooms__user, 
    .rooms__search,
    .rooms__title-row,
    .memo,
    .room__meta,
    .room__unread{
        display: none;
    }

    .rooms__new {
        width: 44px;
        height: 44px;
    }
    .rooms__list {
        padding: 8px 0;
        width: 100%;
    }
    .room__avatar{
        width: 56px;
        height: 56px;
    }
    .room {
        justify-content: center;
        padding: 8px 0;
    }

}

@media (max-width: 760px) {
    .app {
        grid-template-columns: var(--nav-w) 1fr;
    }

    .main {
        display: flex;
    }
}

@media (max-width: 767px) {
    body {
        grid-template-columns: 0 88px 1fr;
    }

    .chat-input {
        margin-bottom: 72px;
    }
}

@media (max-width: 240px) {
    body {
        grid-template-columns: 0 64px 1fr;
    }

    .roomsLayout,
    .main {
        padding-bottom: 56px;
    }
}
